<!--
	@create by 
	@update by 
	@description 
-->
<div>
	<el-form-q :field-data="queryFields" :buttons="queryButtons" ref="query"></el-form-q>
  <div class="yu-toolBar">
    <el-button-group>
      <el-button icon="edit" @click="modifyFn" v-if="checkPermission('edit')">修改</el-button>
      <el-button icon="document" @click="infoFn" v-if="checkPermission('detail')">查看</el-button>
    </el-button-group>
  </div>
  <el-table-x ref="reftable" :row-index="true"  :base-params="baseParams"
        :data-url="dataUrl" :table-columns="tableColumns" :request-type="'POST'"></el-table-x>
  <!-- 说明dialog可配置宽高属性，若不配置则宽度默认为屏幕50%，高度自适应
     width="650px" height="380px" -->
  <el-dialog-x :title="viewTitle[viewType]" :visible.sync="dialogVisible" size="full">
    <el-tabs type="border-card" v-model="baseTab">
      <el-tab-pane label="人工复核" name="baseTab" >

        <el-collapse v-model="expandCollapseName" ref='basecollapse'>

          <el-collapse-item title="客户信息" name="1">
            <el-form-x ref="cusRef" :group-fields="cusFields" label-width="125px" :disabled="cusFormDisabled">
            </el-form-x>
          </el-collapse-item>

          <el-collapse-item title="借贷信息" name="2">
            <el-form-x ref="loanRef" :group-fields="loanFields" label-width="125px" :disabled="cusFormDisabled">
            </el-form-x>
          </el-collapse-item>

          <el-collapse-item title="风控审批信息" name="3">
            <el-form-x ref="riskRef" :group-fields="riskFields" label-width="125px" :disabled="riskFormDisabled">
            </el-form-x>
          </el-collapse-item>

          <el-collapse-item title="历史审批信息" name="3">
            <el-table-x ref="aprvHistoryTable" :row-index="true" :data-url="aprvHisUrl" :base-params="aprvHisParam"
                        :table-columns="ApHisTableColumns" :request-type="'POST'"></el-table-x>
          </el-collapse-item>

        </el-collapse>

      </el-tab-pane>
      <el-tab-pane label="人行征信">
        <el-collapse v-model="zxExpandCollapseName" ref='basecollapse'>
          <el-collapse-item title="征信报告" name="redititem">
            <div class="yu-toolBar">
              <el-button-group>
                <el-button icon="check" @click="getContentFn" >查看征信报告</el-button>
              </el-button-group>
            </div>
            <el-table-x ref="zxReftable" :row-index="true" :radiobox="false" :base-params="zxReftableParams"
                        :data-url="dataUrlZx" :table-columns="zxReftableColumns" :request-type="'POST'"></el-table-x>
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
      <div class="yu-grpButton">
        <el-button type="primary" icon="yx-checkmark" @click="commitFn" v-if="viewType != 'DETAIL'">提交</el-button>
        <el-button type="primary" icon="yx-undo2" @click="cancleFn" v-if="viewType != 'DETAIL'">取消</el-button>
        <el-button type="primary" icon="yx-undo2" @click="returnFn" v-if="viewType == 'DETAIL'">返回</el-button>
      </div>
    </el-tabs>
  </el-dialog-x>
</div>
