<div class="userCfg" style="background-color: transparent;">
	<el-row :gutter="20">
		<el-col :span="6" style="background-color: white">
			<yu-tabs v-model="activeName" @tab-click="handleClick">
				<yu-tab-pane label="角色授权" name="first" style="color:#2647a7; font-size: 14px;	font-weight: 500;"></yu-tab-pane>
			</yu-tabs>
			<yu-input v-show="!showXform" v-model="input" placeholder="请输入内容" :limit-char="limitChar" style="margin: 10px 0" icon="search"></yu-input>
		</el-col>
		<el-col :span="18">
			<div class="user-title" style="background-color: white;padding: 0 10px">
				<div class="right-content">
					<el-row type="flex" style="padding: 8px 0">
						<yu-button key="add" @click="handleClick">新增</yu-button>
						<yu-button key="start" @click="handleClick">修改</yu-button>
						<yu-button key="pause" @click="handleClick">删除</yu-button>
						<yu-button key="delete" @click="handleClick">注销</yu-button>
						<yu-input v-show="!showXform" v-model="input" placeholder="请输入内容" :limit-char="limitChar" style="margin: 0 10px"></yu-input>
						<yu-button type="primary" @click="hightSearchFn">高级搜索
							<i class="el-icon-arrow-down"></i>
						</yu-button>
					</el-row>
				</div>
			</div>
			<div class="user-table" style="background-color: white;padding: 0 10px">
				<yu-xform-q v-show="showXform" ref="reformq" :field-data="queryFields" :buttons="queryButtons" :columns="4"></yu-xform-q>
				<div>
				</div>
				<yu-xtable-x ref="refTable" :data-url="dataUrl" request-type="POST" :table-columns="tableColumns">
				</yu-xtable-x>
			</div>
		</el-col>

	</el-row>

</div>