<!--
  @create by wanglh4
  @update by 
  @description 授信合同信息
-->
<div>
    <el-form-q :field-data="queryFields" :buttons="queryButtons" v-if="resetQuery" ref="form"></el-form-q>
    <div class="yu-toolBar">
        <el-button-group>
            <el-button icon="document" @click="infoFn" v-if="checkPermission('detail')">查看</el-button>
            <el-button icon="yx-file-excel" @click="exportFn" v-if="checkPermission('export')">导出</el-button>
        </el-button-group>
    </div>
    <el-table-x ref="reftable" :row-index="true" :radiobox="false" :base-params="baseParams"
                :data-url="dataUrl" :table-columns="tableColumns" :request-type="'POST'">
    </el-table-x>
    <el-dialog-x :title="viewTitle[viewType]" :visible.sync="dialogVisible" size="full" >
        <el-tabs type="border-card" v-model="tabName">
        	<el-tab-pane>
        		<div style="padding: 10px;">
	    		<el-card style="width: 100%;" shadow="always" header="授信合同详细信息" :body-style="{ padding: '0px' }">
	              <div >
	                <el-form-x ref="creditContractInfoRef" :group-fields="creditContractInfoFields" :buttons="updateButtons" label-width="180px"></el-form-x>
	              </div>
        		</el-card>
	    	</div>
	    	<div style="padding: 10px;">
	    		<el-card style="width: 100%;" shadow="always" header="贷款信息" :body-style="{ padding: '0px' }">
	        		<div>
	        			<el-table-x ref="loanreftable" :row-index="true" :base-params="loanParams"
	       					 :data-url="dataUrlLoanInfo" :table-columns="loantableColumns" :request-type="'POST'">
	    				</el-table-x>
	        		</div>
        		</el-card>
	    	</div>
        	</el-tab-pane>
        </el-tabs>
    </el-dialog-x>
</div>
