<!--
	@create by wanglh4 on 2019-08-21
	@update by
	@description 合作方限额
-->
<div class="partner-lmtInfo">
    <div class="panel-content">
        产品限额管理
    </div>
    <div class="lmt-content">
            <yu-xform v-model="formdata1" related-table-name="yutable" form-type="search" :remove-empty="true">
                    <yu-xform-group :column="4">
                      <yu-xform-item v-for="(item,index) in queryFields" :key= "index" :label="item.label" :ctype="item.ctype" :name="item.name"  ></yu-xform-item>
                    </yu-xform-group>
                  </yu-xform>
        <!-- <el-form-q :field-data="queryFields" :buttons="queryButtons" label-position="left" labelWidth="160"></el-form-q> -->
    <div class="yu-toolBar" style="padding-top: 10px;text-align: right">
        <el-button-group>
            <el-button icon="plus" @click="addFn" v-if="checkPermission('create')">新增</el-button>
            <el-button icon="edit" @click="modifyFn" v-if="checkPermission('edit')">修改</el-button>
            <el-button icon="yx-undo2" @click="setStatusFn('01')" v-if="checkPermission('enable')">生效</el-button>
            <el-button icon="yx-bin" @click="setStatusFn('00')" v-if="checkPermission('disable')">失效</el-button>
        </el-button-group>
    </div>
    <el-table-x ref="reftable" :row-index="true" :radiobox="true" :base-params="baseParams"
                :table-data="tableData" :table-columns="tableColumns" :request-type="'POST'"></el-table-x>
   <!-- <div class="table-content">
        <yu-xtable
        row-number
        selection-type="radio"
        :data="tableData"
        style="width: 100%"
    >
        <yu-xtable-column
            v-for="item in tableColumns"
            :key="item.label"
            :prop="item.prop"
            :label="item.label">
        </yu-xtable-column>

    </yu-xtable> -->
    </div>
</div>

                <!-- 说明dialog可配置宽高属性，若不配置则宽度默认为屏幕50%，高度自适应
       width="650px" height="380px" -->
    <el-dialog-x :title="viewTitle[viewType]" :visible.sync="dialogVisible" width="650px" size="full">
        <el-form-x ref="reform"
                   :group-fields="updateFields" :buttons="updateButtons"
                   :disabled="formDisabled" label-width="80px"></el-form-x>
    </el-dialog-x>

