<!--
	@create by 
	@update by 
	@description 
-->
<div>
  <!-- <el-form-q :field-data="queryFields" :buttons="queryButtons" :columns="3"></el-form-q> -->
  <div class="yu-toolBar">
    <el-button-group>
      <el-button icon="document" @click="infoFn" v-if="checkPermission('detail')">查看</el-button>

    </el-button-group>
  </div>
  <el-table-x ref="reftable" :row-index="true" :radiobox="false" :base-params="baseParams" :data-url="dataUrl" :table-columns="tableColumns"
    :request-type="'POST'"></el-table-x>
  <!-- 说明dialog可配置宽高属性，若不配置则宽度默认为屏幕50%，高度自适应
     width="650px" height="380px"-->
  <el-dialog :title="viewTitle[viewType]" :visible.sync="dialogVisible" size="large">
    <div v-loading="updateLoading" element-loading-text="拼命加载中">
      <el-form-x ref="reform" :group-fields="updateFields" :disabled="formDisabled" label-width="160px"></el-form-x>
      <el-collapse v-show="listVisible" v-model="expandCollapseName">
        <el-collapse-item title="风险分类配置清单" name="base">

          <el-table-x ref="listTable" :radiobox="false" :default-load="false" request-type="POST" :data-url="listDataUrl" :table-columns="list.tableColumns"></el-table-x>
        </el-collapse-item>
      </el-collapse>
      <div style="text-align: center;">

        <el-button type="primary" icon="yx-undo2" @click="cancelFn">返回</el-button>
      </div>
    </div>

  </el-dialog>

  <el-dialog :title="viewTitle[list.viewType]" :visible.sync="list.dialogVisible">
    <el-form-x ref="listReform" v-loading="list.updateLoading" element-loading-text="拼命加载中" :group-fields="list.updateFields"
      :buttons="list.updateButtons" :disabled="list.formDisabled" label-width="110px"></el-form-x>
  </el-dialog>
  <!-- <el-button icon="plus" @click="addFn" v-if="checkPermission('create')">新增</el-button>
      <el-button icon="edit" @click="modifyFn" v-if="checkPermission('edit')">修改</el-button>
      <el-button icon="yx-bin" @click="deleteFn" v-if="checkPermission('delete')">删除</el-button>
      <el-button icon="yx-undo2" @click="disabledFn">失效</el-button>
      <el-button icon="yx-file-excel" @click="exportFn" v-if="checkPermission('export')">导出</el-button>
     -->
  <!-- <el-button type="primary" icon="check" @click="submitClassfyCfgFn" v-show="viewType == 'EDIT'">提交</el-button>
                <el-button type="primary" icon="check" @click="saveClassfyCfgFn" v-show="viewType != 'DETAIL'">保存</el-button> -->
  <!--  <el-form-q :field-data="list.queryFields" :buttons="list.queryButtons" :columns="3"></el-form-q> 
    <el-button-group>
    <el-button icon="plus" @click="listAddFn" v-show="listBtnsVisible">新增</el-button>
    <el-button icon="edit" @click="listModifyFn" v-show="listBtnsVisible">修改</el-button>
    <el-button icon="document" @click="listInfoFn">查看</el-button>
    <el-button icon="yx-bin" @click="listDeleteFn" v-show="listBtnsVisible">删除</el-button>
    <el-button icon="yx-bin" @click="exportFn">导出</el-button>
  </el-button-group>-->
</div>