<!--
	@create by 
	@update by 
	@description 
-->
<div class="userCfg">
	<div class="user-title">
		<b>报表权限管理</b>
		<div class="right-content">
			<el-row type="flex">
				<yu-button icon="plus" @click="addFn" v-if="checkPermission('create')">新增</yu-button>
				<yu-button icon="yx-bin" @click="deleteFn" v-if="checkPermission('delete')">删除</yu-button>
				<yu-input v-show="!showXform" v-model="input" placeholder="请输入内容" :limit-char="limitChar"></yu-input>
				<yu-button key="resetPwd" type="text" @click="hightSearchFn">高级搜索
					<i class="el-icon-arrow-down"></i>
				</yu-button>
			</el-row>
		</div>
	</div>
	<div class="user-table">
		<yu-xform-q v-show="resetQuery" ref="form" :field-data="queryFields" :buttons="queryButtons" :columns="3"></yu-xform-q>
		<yu-xtable-x ref="refTable" :row-index="true" :radiobox="false" :base-params="baseParams" :data-url="dataUrl" request-type="POST"
		 :table-columns="tableColumns">
		</yu-xtable-x>
	</div>
	<el-dialog-x :title="viewTitle[viewType]" :visible.sync="dialogVisible" size="large">

		<el-form-x ref="baseRef" :group-fields="updateFields" label-width="125px" :disabled="formDisabled"></el-form-x>

		<div class="yu-grpButton">
			<el-button type="primary" icon="yx-checkmark" @click="saveFn" v-show="viewType != 'DETAIL'">保存</el-button>
			<el-button type="primary" icon="yx-undo2" @click="returnFn" v-show="viewType == 'DETAIL'">返回</el-button>
			<el-button type="primary" icon="yx-undo2" @click="cancleFn" v-show="viewType != 'DETAIL'">取消</el-button>
		</div>

	</el-dialog-x>
</div>